html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}

body,button,input,select,textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}

div {
    display: block;
}

.pic_bar .pic_list {
	display: inline;
	list-style: none;
}

.pic_bar .pic_list li{
	display: list-item;
	float: left
}

.pic_list_hover {
	border: 2px solid #ff0000;
}

.pic_display {
	float: left;
}

.zoom_pic {
	height: 400px;
	width: 400px;
	overflow: hidden;
	border: 1px solid #000000;
	display: none;
	z-index: 1000;
}

.zoom_pic img{
	position: relative;
}

.main_pic {
	overflow: hidden;
	height: 360px;
}

.scale_frame {
	position: relative;
	border: 1px solid #ff0000;
	height: 150px;
	width: 150px;
	z-index: 1000;
	display: none;
}