html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}

body,button,input,select,textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}

div {
    display: block;
}

.header {
	background-color: #c32136;
	width: 100%;
	height: 64px;
	z-index: 1000;
	position: fixed;
}

.footer {
	background-color: #c32136;
	width: 100%;
	height: 128px;
}

.main {
	//width: 100%;	
}

.content_item1 {
	height: 1000px;
	width: 100%;
	background-color: #e9e7ef;
}
.content_item2 {
	height: 1000px;
	width: 100%;
	background-color: #f0f0f4;
}
.content_item3 {
	height: 1000px;
	width: 100%;
	background-color: #e9f1f6;
}
.content_item4 {
	height: 1000px;
	width: 100%;
	background-color: #e9e7ef;	
}

.right_bar {
	position: absolute;
	top: 500px;
	right: 50px;
	width: 11px;
	height: 100px;
	z-index: 1000;
	position: fixed;
}

.right_bar_list {
	display: inline;
	list-style: none;
}

.right_bar_list li {
	display: list-item;
	height: 11px;
	width: 11px;
	overflow: hidden;
	margin-top: 15px;
}

.right_bar_list li div{
	position: relative;
	width: 11px;
	top: -11px;
}

.frame {
	width: 11px;
	height: 11px;
	border: 1px solid #000000;
	overflow: hidden;
}

.frame .frame_content{
	position: relative;
	width: 11px;
	top: -11px;
}